body {
  text-align: center;
  font-family: Helvetica;
}
#home {
  background-image: "../images/the-flatiron-building.png"
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
.headerNav {
  font-size: 18px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.NewYork {
  color: White;
  font-size: 23px;
  font-weight: bold;
  background-image: "../images/the-flatiron-building.png"
}
.footerNav p {
  background-color: dimgray;
  color: White;
}
#icon {
  font-size: 11px;
}
